<div class="navBar avenir">
    
        {{#link-to home}}<p style="padding:25px;text-decoration:none;color:#ffffff" class="f3">Home</p>{{/link-to}}
        {{#link-to home}}<p style="padding:25px;text-decoration:none;color:#ffffff" class="f3">Books</p>{{/link-to}} 
        <p style="padding:15px;font-family:cursive" class="f1 fw6">Booktique</p>
        {{#link-to home}}<p style="padding:25px;text-decoration:none;color:#ffffff" class="f3">Authors</p>{{/link-to}}
        {{#link-to home}}<p style="padding:25px;text-decoration:none;color:#ffffff" class="f3">Profile</p>{{/link-to}}
    
    
</div>
<div>
    
</div>
{{outlet}}